*{
    padding: 0px;
    margin: 0px;
}

.titulo{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    font-size: 20px;
    z-index: 2;
    color: #7bbcbeb8;
    text-align: center;
    background: rgba(255, 255, 255, 0.168)
}

.Piedra{
    position: fixed;
    left: 410px;
    top: 300px;
    width: 120px;
    height: 100px;

	background-color:#72adaf;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #9752cc;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Piedra:hover {
    background-color:#68a7a8;
    transform: scale(1.1);
}

.Papel{
    position: fixed;
    left: 540px;
    top: 300px;
    width: 120px;
    height: 100px;

    background-color:#72adaf;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #9752cc;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Papel:hover {
    background-color:#68a7a8;
    transform: scale(1.1);
}


.Tijera{
    position: fixed;
    left: 670px;
    top: 300px;
    width: 120px;
    height: 100px;

    background-color:#72adaf;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #9752cc;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Tijera:hover {
    background-color:#68a7a8;
    transform: scale(1.1);
}



.Lagarto{
    position: fixed;
    left: 800px;
    top: 300px;
    width: 120px;
    height: 100px;

    background-color:#72adaf;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #9752cc;

    cursor: pointer;
    transition: transform 0.3s ease;
}
.Lagarto:hover {
	background-color:#68a7a8;
    transform: scale(1.1);
}

.Spock{
    position: fixed;
    left: 930px;
    top: 300px;
    width: 120px;
    height: 100px;

	background-color:#72adaf;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #9752cc;
    
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Spock:hover {
	background-color:#68a7a8;

    transform: scale(1.1);
}
/*-----------------*/
.botones{
    top: 50%;
    left: 50%;
}

.Jugar{
    position: fixed;
    left: 670px;
    top: 450px;
	background-color:#72adaf;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:1px 1px 0px #9752cc;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Jugar:hover {
    background-color:#68a7a8;
    transform: scale(1.1);
}

.resultado{ 
    text-align: center;
    width: 78px;
    position: fixed;
    left: 890px;
    top: 450px;
    font-size: x-large;
    border-radius: 8px;
}

/*Puntos*/
.contador{
    position: fixed;
    right: 300px;
    top: 200px;
    font-size: x-large;
    width: 50px;
    height: 50px;
    text-shadow: 1px 1px  rgba(255, 255, 255, 0.3);
}
.contadorIA{
    position: fixed;
    right: 300px;
    top: 450px;
    font-size:x-large ;
    width: 50px;
    height: 50px;
    text-shadow: 1px 1px  rgba(255, 255, 255, 0.3);
}

.rondas{
    position: fixed;
    left: 660px;
    top: 240px;
    font-size: x-large;
    text-shadow: 1px 1px  rgba(255, 255, 255, 0.3);
}
/*-----------------*/
.reset{
    position: fixed;
    left: 460px;
    bottom: 235px;

    background-color:#A29CFF;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #9752cc;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.reset:hover {
    background-color:#958fea;
    transform: scale(1.1);
}
/*-----------------*/
.cantidadDeRondas{
    position: fixed;
    left: 530px;
    top: 150px;
    background-color:#958fea;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #9752cc;
}
.imputRondas{
    position: fixed;
    left: 700px;
    top: 150px;
    background-color:#958fea;
    border: 0px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #9752cc;
}
/*informacion*/
.botonInfo{
    position: fixed;
    top: 100px;
    left: 20px;
    height: 40px;
    background-color:#958fea;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
    color: white;
	font-family:Verdana;
	font-size:12px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #9752cc;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.botonInfo:hover {
    background-color:#958fea;
    transform: scale(1.1);
}

.divInfo{
    position: fixed;
    top: 5px;
    left: 20px;
   
}
.infomenu{
    font-size: 18px;
    border-radius:2px;
    position: fixed;
    top: 100px;
    left: 0px;
    background: rgba(255, 255, 255, 0.168);
    padding: 5px;
}
.BcerrarMenu{
    border-radius:2px;
    position: fixed;
    top: 100px;
    left: 361px; 
    background: rgba(255, 255, 255, 0.168);
    border: 0px;
    cursor: pointer;
}
.BcerrarMenu:hover {
    color:#fdfdfd;
}

.imgInfo{
    width: 310px;
    height: 310px;
    padding: 10px 40px;
}
/*-----------------*/
.mensaje{
    position: fixed;
    right: 500px;
    bottom: 70px;
    font-size: x-large;
    width: auto;
    height: 50px;
}

/*imagenes*/
.imgPiedra{
    width: 60px;
    height: 60px;
}
.imgPapel{
    width: 60px;
    height: 60px;
}
.imgTijeras{
    width: 80px;
    height: 50px;
}
.imgLagarto{
    width: 60px;
    height: 60px;
}
.imgSpock{
    width: 60px;
    height: 60px;
}

/*fondo*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.hero {
  background-color: #0040C1;
  position: relative;
  margin: 0;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #003298;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
          animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #0051f4;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}