body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  flex-direction: column;
}

#simon-board {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 10px;
  text-align: center;
}

.simon-btn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
}

#score {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

#start-btn {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.highlight {
  box-shadow: 0 0 20px 5px #c70c0c;
  
}